* {
  margin: 0;
  padding: 0;
}



.logo{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.main{
  background-color: #2E9D64;
  color: white;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  font-size: 17px;
  border: none;
}


.top-bar {
  background-color: #2E9D64;
  overflow: hidden;
  height: fit-content;
  top: 0;
  width: 100%;
}

.boton{
  float: left;
  background-color: #2E9D64;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border: none;
  width: 60.78 px;
}

.page-info {
  margin-left: 1rem;
  color: #2E9D64;
}

.error {
  background: orangered;
  color: #fff;
  padding: 1rem;
}

img.logo{
  float: left;
}